# -- macOS -------------------------------------------------
.DS_Store

# -- Editors -----------------------------------------------
.idea/
.vscode/

# -- Shell state -------------------------------------------
.config/fish/fish_variables
